<h3>let's play a game</h3>

<%= form_tag "/form_result", method: :post do %>

<d>
  <label for="guess"> Please guess a number:</label> <input type="text" name="guess">
</div>

  <input type="submit" value="log your guess!">

<% end %>